<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Add Vehicle</div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="register-form" [formGroup]="vehicleAddForm" (ngSubmit)="onSubmit(vehicleAddForm)">
      
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <label>Title<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Model" formControlName="model" required>
          <small class="form-text text-danger"
            *ngIf="!vehicleAddForm.get('model')?.valid && vehicleAddForm.get('model')?.touched"> Model is
            required</small>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <label>Title<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Registration number" formControlName="registration_number" required>
          <small class="form-text text-danger"
            *ngIf="!vehicleAddForm.get('registrationNumber')?.valid && vehicleAddForm.get('registrationNumber')?.touched"> Model is
            required</small>
        </div>
      </div>

      <div class="row">
        <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <label>Type<span class="text-danger">*</span></label>
          <select  class="form-select form-control" formControlName="type" required>
            <option selected disabled>Please select type</option>
            <option value="commercial">Commecial</option>
            <option value="civil">Civil</option>
          </select>
          <small class="form-text text-danger"
            *ngIf="!vehicleAddForm.get('type')?.valid && vehicleAddForm.get('type')?.touched"> Model is
            required</small>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="submit" class="btn btn-primary">Add Vehicle</button>
        
        <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
      </div>
    </form>
  </div>